@import url('https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap');@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.landing {
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #FEEEDA;
}

.header {
    padding: 10%;
    color: #646BD7;
    font-size: xx-large;
    font-weight: 600;
}

.btn {
    margin-left: 10%;
    margin-top: -15%;
    color: #FEEEDA;
    border-radius: 15px;
    width: 10%;
    background-color: #646BD7;
}

#user-form {
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #646BD7;
}

