@import url('https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap');@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.landing {
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #FEEEDA;
}

.header-title {
    width: 40%;
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 5%;  
}
h2 {
    color: #646BD7;
    font-weight: 600;
    font-size: 60px;
}

.col{
    text-align: center;
}
.day {
    color: #646BD7;
    margin: auto;
}
.card {
    margin: auto;
    color: #646BD7;
    border-radius: 20px;
    -webkit-box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.75);
}

.card-title{
    text-align: left;
}
.card-text {
    font-weight: 400;
    text-align: left !important;
}

.card-interest {
    color: #6F6F6F !important;
    float: right;
    font-weight: 500;
}