{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cultour</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">



</head>

<body>
    <section class = "landing">
        <div >
            <div class="header">
                Hi there, <br>
                let's explore
            </div>
            <div class="start-button">
                <a style="text-decoration: none;" class="btn js-scroll-trigger" href="#user-form">LET'S GO!</a>
            </div>
        </div>
    </section>


    <section id="user-form">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form id="form-input" method="POST" action="{% url 'create-json' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {{form.location.label}}
                                {{form.location}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                {{form.day_1.label}}
                                {{form.day_1}}
                            </div>
                            <div class="col">
                                {{form.start_time_1.label}}
                                {{form.start_time_1}}
                            </div>
                            <div class="col">
                                {{form.end_time_1.label}}
                                {{form.end_time_1}}
                            </div>
                            <div class="col">
                                {{form.topic_1.label}}
                                {{form.topic_1}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                {{form.day_2.label}}
                                {{form.day_2}}
                            </div>
                            <div class="col">
                                {{form.start_time_2.label}}
                                {{form.start_time_2}}
                            </div>
                            <div class="col">
                                {{form.end_time_2.label}}
                                {{form.end_time_2}}
                            </div>
                            <div class="col">
                                {{form.topic_2.label}}
                                {{form.topic_2}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                {{form.day_3.label}}
                                {{form.day_3}}
                            </div>
                            <div class="col">
                                {{form.start_time_3.label}}
                                {{form.start_time_3}}
                            </div>
                            <div class="col">
                                {{form.end_time_3.label}}
                                {{form.end_time_3}}
                            </div>
                            <div class="col">
                                {{form.topic_3.label}}
                                {{form.topic_3}}
                            </div>
                        </div>
                        <br>
                        <button id="submit-button" type="submit" class="btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    
</body>

</html>