{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjoy these tours!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/result.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">



</head>

<body>

    <section class="landing">
        <div class="header-title container">
            <h2>Recommended for you</h2>
        </div>
        {% if generate %}
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="day"><h4>{{day_1}}</h4></div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            {% if activity_1 != None %}
                                <h5 class="card-title">{{activity_1.name}}</h5>
                                <p class="card-text">
                                    {{activity_1.schedule.open}} AM - {{activity_1.schedule.close}} PM
                                    <br>{{activity_1.location}}
                                    <br><div class="card-interest">
                                        {{activity_1.interest}}
                                    </div>
                                </p>
                            {% else %}
                            <h5 class="card-title">No Event</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%if day_2 != "" %}
                <div class="col">
                    <div class="day"><h4>{{day_2}}</h4></div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            {% if activity_2 != None %}
                                <h5 class="card-title">{{activity_2.name}}</h5>
                                <p class="card-text">{{activity_2.schedule.open}} AM - {{activity_2.schedule.close}} PM
                                        <br>{{activity_2.location}}
                                        <br><div class="card-interest">
                                            {{activity_2.interest}}
                                        </div>
                                </p>
                            {% else %}
                            <h5 class="card-title">No Event</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if day_3 != "" %}
                <div class="col">
                    <div class="day"><h4>{{day_3}}</h4></div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            {% if activity_3 != None %}
                                <h5 class="card-title">{{activity_3.name}}</h5>
                                <p class="card-text">{{activity_3.schedule.open}} AM - {{activity_3.schedule.close}} PM
                                        <br>{{activity_3.location}}
                                        <br><div class="card-interest">
                                            {{activity_3.interest}}
                                        </div>
                                </p>
                            {% else %}
                            <h5 class="card-title">No Event</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="container">
            <h3 class="text-center">There is no event</h3>
        </div>
        {% endif %}
    </section>
    <div class="text-center">
        {% if generate %}
        <a class="btn ml-0" href="{% url 'generate-answer' %}">Generate</a>
        {% endif %}
        <a class="btn ml-0" href="{% url 'homepage' %}">Back to Home</a>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>